* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}
.app__signUp {
  display: flex;
  flex-direction: column;
}
.app__header {
  position: sticky;
  top: 0;
  object-fit: contain;
  z-index: 1;
  background-color: white;
  object-position: top;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  height: 50px;
  width: 100px;
  object-fit: contain;
}

.app__posts {
  padding: 20px;
}
